@import '../public/css/normalize.css';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background: #f6f6f6;
}

.bgColorFFF{
  background-color: #fff;;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

.tx-c{
  text-align: center;
}

.mg-b10{
  margin-bottom: 10px;
}